<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>&Iacute;ndices de diversidad</title>
    <!-- css -->
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/liteaccordion.css" rel="stylesheet"/>

    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/liteaccordion.jquery.min.js"></script>
    <script src="js/base.js"></script>
    <!--[if lt IE 9]>
    <script>
        document.createElement('figure');
        document.createElement('figcaption');
    </script>
    <![endif]-->
</head>
<body>

<h1>ÍNDICES DE DIVERSIDAD</h1>

<div id="ssw">
    <ol>
        <li>
            <h2><span>Introducción</span></h2>

            <div>
                <figure>
                    <div align="center">
                        <li><h2><span>Introducción</span></h2></li>
                        <li>En algunos casos un valor dado de un índice de diversidad puede
                            provenir de distintas combinaciones de riqueza específica y equitabilidad. Es decir, que el
                            mismo índice de diversidad puede obtenerse de una comunidad con baja riqueza y alta
                            equitabilidad como de una comunidad con alta riqueza y baja equitabilidad. Esto significa
                            que el valor del índice aislado no permite conocer la importancia relativa de sus
                            componentes (riqueza y equitabilidad).
                            Algunos de los índices de diversidad más ampliamente utilizados son (1) el índice de
                            Simpson (DSi ), y (2) el índice de Shannon-Wiener (H’)</li>
                    </div>
                </figure>
            </div>
        </li>
        <li>
            <h2><span>Índice de Simpson</span></h2>

            <div>
                <figure>
                    <div align="center">
                        <li><h2><span>Índice de Simpson (1949), DSi.</span></h2></li>
                        <img src="images/1.jpg" alt="image"/>
                        <li><span> Este fue el primer índice de diversidad usado en
                            ecología. El índice de Simpson se deriva de la teoría de probabilidades, y mide la
                            probabilidad de encontrar dos individuos de la misma especie en dos ‘extracciones’
                            sucesivas al azar sin ‘reposición’. En principio esto constituye una propiedad opuesta a la
                            diversidad, se plantea entonces el problema de elegir una transformación apropiada para
                            obtener una cifra correlacionada positivamente con la diversida</span></li>
                    </div>
                </figure>
            </div>
        </li>
        <li>
            <h2><span>Shannon-Wiener</span></h2>

            <div>
                <figure>
                    <div align="center">
                        <li><h2><span>Índice de Shannon-Wiener (Shannon y Weaver, 1949)</span></h2></li>
                        <img src="images/2.jpg" alt="image"/>
                        <li><span>Este índice se basa en la teoría de la información (mide el contenido de
                            información por símbolo de un mensaje compuesto por S clases de símbolos discretos
                            cuyas probabilidades de ocurrencia son pi ...pS) y es probablemente el de empleo más
                            frecuente en ecología de comunidades.</span></li>
                    </div>
                </figure>
            </div>
        </li>
        <li>
            <h2><span>Elegir índice</span></h2>

            <div>
                <figure>
                    <div align="center">
                        <form name="form1" action="" target="_blank" method="post">
                            <input type="text" name="slide_four"><br><br>
                            <input type="submit" value="Añadir">
                        </form>
                    </div>
                </figure>
            </div>
        </li>
        <li>
            <h2><span>Resultado</span></h2>

            <div>
                <figure>
                    <div align="center">
                        <form name="form1" action="" target="_blank" method="post">
                            <input type="text" name="slide_five"><br><br>
                            <input type="submit" value="Añadir">
                        </form>
                    </div>
                </figure>
            </div>
        </li>
    </ol>
    <noscript>
        <p>Please enable JavaScript to get the full experience.</p>
    </noscript>
</div>
</body>
</html>