!!! 5
%html
    %head
        %title &Iacute;ndices de Diversidad
    %body
        %h3= $title
        #container
            %ul.navigation
                %li Etusivu
                %li Tuotteet

            %h2 Tuotteet
            %ul.products 
                %li= 1 * 6
                - for ($i = 0; $i < 10; $i++)
                    %li= $i + 3
